/* apply to whole page */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', sans-serif;
    text-decoration: none;
}

/* custom variables */
:root {
    --main-color: #222c3c;
    --bg-color: #18181b;
    --border-color: #1e293b;

    --text-color: white;
    --text-color-hover: #01C38D;
}

/* body */
body {
    background-color: var(--bg-color);
}


/* navbar */
.navbar {
    overflow: hidden;
    background-color: var(--main-color);
}

.navbar a {
    float: right;
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 14px 20px;
}

.navbar a.left {
    float: left;
}

.navbar a:hover {
    color: var(--text-color-hover);
}

.navbar .media {
    font-size: 20px;
}

/* hero */
.hero {
    color: var(--text-color);
    background-color: var(--bg-color);
    padding: 20px;
    border-top: 1px solid;
    border-bottom: 2px solid;
    border-color: var(--border-color);
    display: flex;
    flex-wrap: wrap;
}

.hero > * {
    width: 100%;
    padding: 1rem;
}

.hero-skills ul li {
    list-style-type: '';
}

/* projects */
.projects h3 {
    color: var(--text-color);
    text-align: center;
    padding-top: 20px;
}

/* project cards */
.cards {
    color: var(--text-color);
    background-color: var(--bg-color);
    padding: 20px;
    border-color: var(--border-color);
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: var(--border-color);
    padding: 1rem;
}

.card img {
    border-radius: 5px;
    width: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card a {
    color: var(--text-color);
    text-align: center;
}

.card a:hover {
    color: var(--text-color-hover);
}

/* footer */
.footer {
    padding: 20px;
    text-align: center;
    background: var(--bg-color);
    color: var(--text-color);
    border-top: 1px solid;
    border-color: var(--border-color);
}

.footer p {
    color: grey;
}

/* Responsive layout */

@media (min-width: 768px) {
    .hero > *:nth-child(1) {
        width:calc(100% / 3 * 2);
    }
    .hero > *:nth-child(2) {
        width:calc(100% / 3);
    }
}

@media (min-width: 600px) {
    .cards {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (min-width: 900px) {
    .cards {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media screen and (max-width: 700px) {
    .container {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%
    }
}


